*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 10vh;
    text-align: center;
}

.header >input {
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

.header > button {
    height: 40px;
    width: 120px;
    font-weight: 900;
}

.main {
    text-align: center;
    height: 90vh;
    padding-top: 15%;
}

.main > button {
    height: 40px;
    width: 120px;
    font-weight: 900;
    margin-top: 10px;
}